.loading-indicator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.color-class-1 {
    color: #C69B6D;
}

.color-class-2 {
    color: #F48CBA;
}

.color-class-3 {
    color: #AAD372;
}

.color-class-4 {
    color: #FFF468;
}

.color-class-5 {
    color: #FFFFFF;
}

.color-class-6 {
    color: #C41E3A;
}

.color-class-7 {
    color: #0070DD;
}

.color-class-8 {
    color: #3FC7EB;
}

.color-class-9 {
    color: #8788EE;
}

.color-class-10 {
    color: #00FF98;
}

.color-class-11 {
    color: #FF7C0A;
}

.color-class-12 {
    color: #A330C9;
}

.color-class-13 {
    color: #33937F;
}

.color-faction-ALLIANCE {
    color: #1269FF;
}

.color-faction-HORDE {
    color: #FF4545;
}

.color-item-Poor {
    color: #9d9d9d;
}
.color-item-Common {
    color: #ffffff;
}
.color-item-Uncommon {
    color: #1eff00;
}
.color-item-Rare {
    color: #0070dd;
}
.color-item-Epic {
    color: #a335ee;
}
.color-item-Legendary {
    color: #ff8000;
}
.color-item-Artifact {
    color: #e6cc80;
}
.color-item-Heirloom {
    color: #00ccff;
}
.color-item-WoW-Token {
    color: #00ccff;
}

.raid-status {
    display: flex;
    flex-direction: column;
}

.instance-status {

}

.completion-none {
    color: red;
}

.completion-partial {
    color: orange;
}

.completion-full {
    color: green;
}

.encounter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.2rem;
}

.encounter-done {
    color: limegreen;
}

.encounter-not-done {
    color: red;
}

.reset-button {
    margin: 1em!important;
}

.link-logo {
    width: 1em;
    height: 1em;
}

.mplus-status {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.mplus-status > * {
    min-width: 2ch;
}