name: deploy

on:
  push:
    branches:
      - master

concurrency:
  group: deploy

env:
  AWS_REGION: eu-central-1
  AWS_ROLE_ARN: arn:aws:iam::362408963076:role/GithubActionsUtilsRole

jobs:
  build:
    permissions:
      contents: read
    uses: ./.github/workflows/build.yaml
  deploy-cicd-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: cicd-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-cicd-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-dns-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: dns-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-dns-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-domain-placeholder-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: domain-placeholder-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-domain-placeholder-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-log-redirect-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: log-redirect-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-log-redirect-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-prime-scout-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: prime-scout-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-prime-scout-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-character-list-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: character-list-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: github-action-deploy-character-list-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"
  deploy-home-assistant-app:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: home-assistant-app-cloud-assembly
          path: cdk.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: "eu-west-1"
          role-session-name: github-action-deploy-home-assistant-app
      - name: Deploy CDK stack
        run: npx cdk deploy --app cdk.out --require-approval=never "*"